<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Вход
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--картинка-заглушка-->
  <!--<img src="http://placehold.it/300x100">-->

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-item>
      <ion-label stacked>Почта</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Введите почту"
        [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Не корректный адрес почты</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Пароль</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
        placeholder="Введите пароль"
        [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Длина пароля должна быть больше 6 символов</p>
    </ion-item>

    <button ion-button block type="submit">
      Войти
    </button>

  </form>

    <button ion-button block clear (click)="goToSignup()">
      Создать нового пользователя
    </button>

    <button ion-button block clear (click)="goToResetPassword()">
      Забыл пароль
    </button>
</ion-content>