<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">Параметры контрольных точек</ion-item-divider>
    <ion-item>
      <ion-label color="primary">время точки</ion-label>
      <ion-input placeholder="00:15:00" clearInput></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>
  </ion-item-group>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col>
        <ion-item>
          <ion-input placeholder="00:15:00" clearInput></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>