page-home {
  .scroll-content {
    overflow: auto;
  } 

  .map {
    &__container {
      position:absolute;
      top:0;
      bottom:0; 
      width:100%;
    }
  }

  .checkpoint-marker.selected {
    border: 1px solid green;
  }
  // хак для имени водителей, иначе имя не видно
  .leaflet-tooltip-pane {
 
  }
  // .my-tooltip {
  //   z-index: 6;
  //   color: red;
  //   top: 0;
  //   position: absolute;
  //   left: 0;
  // }
  .checkpoint-label {
    // width: 70px;
    text-align: center;
    line-height: 12px;
    // background-color: rgba(1,1,1,1);
    border: 1px solid;
  }
}


