<ion-header >
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title><timer></timer></ion-title>

    <ion-buttons end>
      <ion-item>
        <ion-label>я в центре</ion-label>
        <ion-toggle [(ngModel)]="watchToSelfMarker" (ionChange)="setWatchToSelfMarker()"></ion-toggle>
      </ion-item>
    </ion-buttons>

    <ion-buttons end>
      <button 
        *ngIf="showBtnStart" 
        ion-button block 
        type="submit" 
        (click)="showAllDrivers()"
      >Поехали</button>
    </ion-buttons>
    <ion-buttons end>
      <button 
        *ngIf="showBtnStop" 
        ion-button block 
        type="submit" 
        (click)="hideAllDrivers()"
      >Стоп</button>
    </ion-buttons>

    <ion-buttons 
      [hidden]="loadDataUser && loadDataAllTracks ||  !showBtnStart && showBtnStop" 
      end>
      <ion-item>
        <ion-label>Номер маршрута</ion-label>
        <ion-select [(ngModel)]="selectedIndexTrack" (ionChange)="selectTrack()">
          <ion-option 
            *ngFor="let track of allTracks; let i = index" 
            value="{{i}}"
          >{{track.number}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button block type="submit" (click)="logout()">Выйти</button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
    <ion-fab right top>
    <button ion-fab color="light" (click)="hideAllMenu()"><ion-icon name="arrow-dropdown"></ion-icon></button>
    <ion-fab-list side="down">
      <button ion-fab (click)="showHightMenu('driverPathMenu')"><ion-icon name="git-merge"></ion-icon></button>
      <button ion-fab (click)="showHightMenu('checkPointMenu')"><ion-icon name="git-commit"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
 
<track-panel [hidden]="!driverPathMenu"></track-panel>
<checkpoint-panel [hidden]="!checkPointMenu"></checkpoint-panel>
<ion-content class="map">
  <div class="map__container" id='map'></div>
</ion-content>