page-home {
  .scroll-content {
    overflow: auto;
  } 

  .map {
    &__container {
      position:absolute;
      top:0;
      bottom:0; 
      width:100%;
    }
  }

  // хак для имени водителей, иначе имя не видно
  .leaflet-tooltip-pane {
    position: absolute;
    z-index: 6;
    color: red;
  }
}


