<ion-header >

  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>Карта</ion-title>
    
    <ion-buttons end>
      <button *ngIf="showBtnStart" ion-button block type="submit" (click)="showAllDrivers()">Поехали</button>
    </ion-buttons>

    <ion-buttons [hidden]="loadDataUser" end>
      <ion-item>
        <ion-label>Номер маршрута</ion-label>
        <ion-select [(ngModel)]="selectedIndexTrack" (ionChange)="selectTrack()">
          <ion-option 
            *ngFor="let track of allTracks | async; let i = index" 
            value="{{i}}"
          >{{track.number}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-buttons>
    
    <ion-buttons end>
      <button ion-button block type="submit" (click)="logout()">Выйти</button>
    </ion-buttons>
  
  </ion-toolbar>

</ion-header>

<page-tool-track-page [map]="map"></page-tool-track-page>
<ion-content class="map">
  <div class="map__container" id='map'></div>
</ion-content>