page-home {
  .scroll-content {
    overflow: auto;
  } 

  .map {
    &__container {
      position:absolute;
      top:0;
      bottom:0; 
      width:100%;
    }
  }

  // убираем фон и рамку для div в котором содержится svg маркек
  .leaflet-div-icon {
    background: none;
    border: none;
  }
}


