<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Создать аккаунт
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <!--<img src="http://placehold.it/300x100">-->
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>

    <ion-item>
      <ion-label stacked>Почта</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Введите почту"
        [class.invalid]="!signupForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Не корректный адрес почты.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Пароль</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
        placeholder="Введите пароль"
        [class.invalid]="!signupForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Длина пароля должна быть больше 6 символов</p>
    </ion-item>

    <button ion-button block type="submit">
      Создать
    </button>

  </form>

</ion-content>